.settings
.project
.classpath
.external*
.DS_Store
.springBeans
Thumbs.db
target
.idea
*.iml
bin
logs
**/.settings
**/.project
**/.classpath
**/.external*
**/.DS_Store
**/.springBeans
**/Thumbs.db
**/target
**/bin
**/logs
**/.idea
**/*.iml
